{% extends 'base.html' %} {% block title %} Edit Flight Details {% endblock
title %} {% block body %}

<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <br />

    <h4 class="text-center bg-warning text-white">Update Flights Details</h4>
      <br />
      <form action="/edit/{{posts.fid}}" method="post" class="">
       
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="flightno"
            name="flightno"
            value="{{posts.flightno}}"
            placeholder="FlightNo"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="airline"
            name="airline"
            value="{{posts.airline}}"
            placeholder="Airline Name"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="origin"
            name="origin"
            value="{{posts.origin}}"
            placeholder="Origin Place"
            
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="destination"
            name="destination"
            value="{{posts.destination}}"
            placeholder="Destination"
            
          />
        </div>

        <div class="form-group">
          <input
            type="date"
            class="form-control"
            name="date"
            value="{{posts.date}}"
            placeholder="Date"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="time"
            class="form-control"
            name="schd"
            value="{{posts.schd}}""
            placeholder="Schd time"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="time"
            class="form-control"
            name="time"
            value="{{posts.time}}""
            placeholder="Actual Time"
            required
          />
        </div>
        <div class="form-group">
          <select class="form-control" id="status" name="status" required>
            <option selected>{{posts.status}}</option>
            <option value="ARRIVED">ARRIVED</option>
            <option value="DEPARTED">DEPARTED</option>
            <option value="SCHEDULED">SCHEDULED</option>
            <option value="CANCELLED">CANCELLED</option>
            <option value="BOARDING">BOARDING</option>
          </select>
        </div>
        
        <div class="form-group">
          <select class="form-control" id="terminal" name="terminal" required>
            <option selected>{{posts.terminal}}</option>
            <option value="T1">T1</option>
            <option value="T2">T2</option>
            <option value="T3">T3</option>
          </select>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-warning" type="submit">Update</button>
        </div>
      </form>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock body %}
